
.webpage-body {
  margin: auto 10%;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}


body {
    color: #444444;
}



.welcome-section-head {
  /* text-shadow: 0px -20px 5px rgba(255, 0, 0, 0.6); */
}




              /* Navbar */

.navbar-brand, .bi-house, .bi-globe2 {
  font-size: 2.5rem;
  color: rgba(150, 150, 150, 1);
  transition: all 0.5s;
}


.navbar-brand:hover, .bi-house:hover, .bi-globe2:hover {
  color: rgba(150, 150, 150, 0.5);
  transform: scale(1.1);
}


.bi-globe2 {
  font-size: 2rem;
  margin-right: 2rem;
}


.dropdown-item {
  color: rgba(255, 0, 0, 1);
}


.dropdown-chk {
  min-width: 0;
  font-size: 1.5rem;
}

.dropdown-item:hover {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.7);
}

/* Footer */

#footer {
  background-color: rgb(0, 0, 0, 1);
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}

.foot-span::after {
  content: "Bootstrap";
  color: rgba(255, 0, 0, 0.8);
  font-weight: bold;
}



/* ABOUT */

.about .skills, .testimonials {
  margin-top: 10rem;

}

.about-text, .progress-bar, .progress-bars {
  text-align: left;
}


.progress-bar {
  background-color: rgba(36, 196, 196, 1);
}


.d-block {
  width: 12rem;
  border-radius: 50%;
  padding-bottom: 8rem;
}


/* PRICING */

#pricing {
  /* margin: 50px 70px; */
  text-align: center;
}

#pricing-text {
  padding-bottom: 50px;
}

.pricing-card {
margin: 10px auto;
width: 18rem;
height: 30rem;
}




/* CONTACT */

.contact-text {
  text-align: center;
  color: rgb(68, 68, 68);
  margin: 2rem auto;
}

.Details {
  margin-left: 10px;
  margin-right: 7px;
}


.ctt-info-icon {
  font-size: 1.5rem;
    background-color:  #fff;
  color: rgba(255, 0, 0, 1);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
    text-align: center;
    padding: .8rem;
  }

  .ctt-info-icon:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.7);
    transition: all 0.5s;
  }

.ctt-info-h4 {
  font-size: 1.4rem;
}

.ctt-info-p {
  font-size: .9rem;
}

.personal-details {
  padding-bottom: 1rem;
}

.form {
    margin-left: 1rem;
}


.form-group {
  padding-bottom: 1.5rem;
}


.form-group-name0mail {
  width: 50%;
  padding-bottom: 1.5rem;
}

.contact-btn {
  color: rgba(255, 0, 0, 1);
  border-radius: 2rem;
  border: none;
  background-color: #fff;
  margin: auto 13vw;
  font-size: 1rem;
  width: 10rem;
  height: 2.5rem;
}

.contact-btn:hover {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.7);
}



/* PORTFOLIO */

.port-img {
  transition: all 0.5s;
}

.port-img:hover {
  transform: scale(1.1);
}


/* RESUME */

.vl {
  width: 1px;
  white-space: nowrap;
  border-style: solid;
  border-color: rgba(12, 235, 235, 1);
  border-width: 2px;
}
